@import url(section.css);

/* Geral */
#new-quest{
    align-self: flex-start;
    width: 70%;
    min-width: 660px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    position: relative;
}
.row{
    display: flex;
}
.row-content-left{
    display: flex;
    flex: 1;
    padding-right: 20px;
}
.row-content-left span{
    flex-shrink: 0;
}
.row-content-right{
    flex: 5;
    min-width: 500px;
    padding: 5px;
    border-radius: 5px;
}
.row-content-right img{
    width: 100px;
}
.aligned-center-right{
    justify-content: flex-end;
    text-align: right;
    align-items: center;
}
.aligned-top-right{
    justify-content: flex-end;
}
.bigger-label{
    font-size: 20px;
    position: relative;
}
.row-content-left span, .row-content-left label{
    color: #444;
}
#wrp-quest-type span{
    color: var(--bgcolor1);
}
.required::after{
    content: '*';
    color: var(--color2);
    font-size: 25px;
    margin-left: 2px;
    line-height: 0px;
}
.error-feedback{
    color: var(--color2) !important;
    margin-left: 10px;
}

/* Escolha do tipo */
#wrp-quest-type{
    display: flex;
}
.quest-type{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 20px;
    transition: background-color .3s ease;
    user-select: none;
}
.quest-type:hover{
    background-color: #eee;
    cursor: pointer;
}
.quest-type:first-of-type{
    border-right: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
.quest-type:last-of-type{
    border-radius: 0 5px 5px 0;
}
.selected-type{
    background-color: #eee;
}
.unselected-type{
    background-color: transparent;
    opacity: .3;
}
#quest-type-flag{
    display: none;
}

/* Enunciado */

.statement .ql-toolbar{
    border-radius: 15px 15px 0 0;
    background-color: white;
}
.statement .ql-container{
    border-radius: 0 0 15px 15px;
    font-size: 16px;
    height: auto;
    min-height: 60px;
}
.statement .ql-editor {
    text-align: justify;
}

/* Alternativas */

.alternative{
    display: flex;
    gap: 10px;
}
.letter{
    color: #777;
    line-height: 0;
    font-size: large;
    width: 20px;
    text-align: right;
    margin-top: 22px;
}
.x-alter{
    width: 16px !important;
    filter: invert();
    opacity: .4;
    cursor: pointer;
    transition: opacity .2s ease;
    align-self: center;
}
.x-alter:hover, .x-img:hover{
    opacity: .6;
}
.alters{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.alters .ql-container{
    height: auto;
    min-height: 50px;
    font-size: 16px;
    border-radius: 0;
    flex: 1;
    max-width: calc(100% - 60px);
}
#add-alter{
    padding: 15px;
    cursor: pointer;
    color: black;
    font-size: 16px;
    /* transition: background-color .3s ease; */
    user-select: none;
    margin: 10px 30px 0 30px;
    border-radius: 0;
    border: dashed 1px #777;
    opacity: .2;
    font-weight: bold;
    transition: opacity .3s ease;
}
#add-alter:hover{
    opacity: .5;
}
#add-alter img{
    width: 16px;
    filter: invert();
    opacity: .7;
    margin-right: 10px;
    margin-bottom: -3px;
}
#alters-sidebar{
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    gap: 30px;
}
#alters-sidebar{
    width: 50%;
}
#correct-label{
    border-radius: 5px;
    padding: 5px;
}
#correct-label span{
    margin: 0;
}
#correct{
    font-size: 18px;
    padding: 5px;
    margin-top: 10px;
    float: right;
}
#correct option{
    font-size: 18px;
    text-align: center;
}
#info-format {
    position: absolute;
    left: -20px;
}
#info-format .tip-msg img {
    width: 250px;
    filter: none;
    border-radius: 5px;
}

/* Escolher imagem */

.wrp-img-input{
    display: flex;
    align-items: center;
}
#quest-img{
    display: none;
    user-select: none;
}
#quest-img-label{
    background-color: var(--bgcolor2);
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: background .2s ease;
}
#quest-img-label:hover{
    background-color: var(--bgcolor3);
}
#img-name{
    font-size: 14px;
    color: #777;
    font-style: italic;
    margin-left: 10px;
}
.already-selected{
    opacity: .4;
    user-select: none;
    cursor: default !important;
}
.x-img{
    width: 16px !important;
    filter: invert();
    opacity: .4;
    cursor: pointer;
    transition: opacity .2s ease;
    margin-top: 5px;
}
#quest-img-x{
    margin-left: 10px;
}
#quest-img-flag, #quest-img-x{
    display: none;
}

/* Disciplina */

#subject{
    padding: 10px 16px;
    font-size: 16px;
    /* appearance: none; */
    cursor: pointer;
}

/* Conteúdo, número de linhas, sugestão de resposta*/

#content-tag, #n-lines, #other-terms, #answer{
    padding: 10px 20px;
    font-size: 14px;
    min-width: 400px;
    width: 60%;
    font-size: 16px;
}
#answer{
    width: 100%;
}
#n-lines{
    width: 70px;
    min-width: 70px;
    padding: 10px 10px 10px 20px;
}
#n-lines:out-of-range{
    border-color: var(--color2);
    background-color: #FEE;
}

/* Outros termos para pesquisa */

#other-terms {
    margin-bottom: 10px;
}
#other-terms-label {
    padding-top: 15px;
}
#tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 70%;
}
.tag {
    padding: 10px 0 10px 12px;
    background-color: #eee;
    border-radius: 99px;
    font-size: 14px;
}
.tag-content {
    color: grey;
}
.tag-delete-btn {
    padding: 10px;
    cursor: pointer;
    color: grey;
    font-weight: bold;
    user-select: none;
    opacity: .5;
}
#other-terms:focus::-webkit-input-placeholder{
    text-align: right;
}
#other-terms:focus:-moz-placeholder{
    text-align: right;
}
#other-terms::-webkit-input-placeholder{
    color: #aaa;
    font-style: italic;
    font-size: 14px;
}
#other-terms:-moz-placeholder{
    color: #aaa;
    font-style: italic;
    font-size: 14px;
}

/* Privacidade */

.is-private{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.is-private .checkbox-label:last-of-type{
    margin-left: 15px;
}
#duplication-warning {
    font-size: 14px;
    color: #777;
    font-style: italic;
    margin-left: 15px;
}

/* Botões de salvar */

#save-and-other{
    margin-left: 30px;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}
#save-and-other:hover{
    border-bottom: 3px solid #777;
}