@import url(main.css);

#wrapper {
    min-height: 100%;
    width: 100%;
    background-color: var(--bgcolor3);
    padding: 15vw 20%;
}
form {
    max-width: 900px;
    display: block;
    margin: 0 auto;
    padding: 50px;
    padding-top: 40px;
    position: relative;
    border-radius: 10px;
    background-color:white;
}
form > *:not(.save-btn) {
    margin-bottom: 20px;
}
input[type="text"]:not(.save-btn), input[type="password"] {
    height: 50px;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}
.save-btn {
    user-select: none;
    pointer-events: none;
    filter: grayscale(100%);
    opacity: .6;
}
#logo {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-85%);
    height: 60px;
    width: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, white 9px, #e9e9e9 9px, white 17px )
}
#logo img {
    width: 80%;
    margin-top: -8px;
}
body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--color1);
}
.info {
    font-size: 14px;
    color: #777;
    font-style: italic;
    float: right;
}
.status {
    background-color: var(--bgcolor1);
    color: white;
    padding: 5px 10px;
    border-radius: 99px;
    display: inline-block;
}
.error {
    color: var(--color2);
}
h1, h2 {
    margin: 0;
    color: var(--bgcolor3);
    word-break: break-word;
    font-weight: 100;
}
#redefinition-dialog {
    max-width: 500px;
    padding-top: 35px;
    padding-bottom: 40px;
}
#redefinition-dialog input[name=email]{
    color: #aaa;
}
#redefinition-dialog .save-btn{
    margin-left: auto;
    display: block;
    margin-right: auto;
}
#alerts > span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#alerts > span:not(#alerts > span:last-of-type) {
    margin-bottom: 10px;
}
.error-pswd-feedback {
    font-size: small;
    color: #ccc;
}