@import url(lobby.css);

/* Geral */

#content{
    height: calc(100% - 160px);
    padding: 30px;
    display: grid;
    grid-template-columns: 300px auto;
    gap: 30px;
}
#results::-webkit-scrollbar, #filter-checkboxes::-webkit-scrollbar, #quest-details-content::-webkit-scrollbar{
    width: 8px;
}
#results::-webkit-scrollbar-thumb, #filter-checkboxes::-webkit-scrollbar-thumb, #quest-details-content::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 99px;
}

/* Sidebar dos filtros */

#filters{
    background-color: white;
    min-height: 350px;
    height: 100%;
    max-height: 100%;
    padding: 20px 20px 0 20px;
    display: grid;
    grid-template-rows: 50px calc(100% - 110px) 60px;
}
#filter-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#filter-header > div > span{
    color: var(--bgcolor3);
    font-weight: bold;
    font-size: 20px;
}
#filter-header > div:last-of-type{
    margin-top: 15px;
    margin-right: 10px;
}
#filter-header img{
    height: 30px;
}
#filter-checkboxes{
    padding-left: 3px;
    overflow-y: auto;
    margin-bottom: 10px;
}
#filter-checkboxes > div > label, #filter-header > div > div > label{
    height: 30px;
}
.filter-section{
    color: var(--bgcolor2);
    font-weight: bold;
    line-height: 40px;
}
#filter-subjects div{
    margin-bottom: 5px;
}
#filter-btn{
    width: 100%;
    background: none;
    border: none;
    border-top: solid 1px #ccc;
    line-height: 57px;
    text-align: center;
    color: var(--bgcolor2);
    font-weight: bold;
    font-size: 19px;
    transition: font-size ease .15s;
    cursor: pointer;
}
#filter-btn:hover{
    font-size: 20px;
}

/* Quando não há resultados */
.search-msg{
    color: #888;
    font-size: 22px;
}
#create-tip{
    position: absolute;
    bottom: 70px;
    right: 190px;
    color: #ccc;
    font-size: 22px;
    text-align: right;
    user-select: none;
    z-index: -2;
}
#create-tip img{
    margin-top: 20px;
    width: 100px;
    opacity: .1;
    transform: rotate(70deg);
}

/* Resultados da pesquisa */

#results{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
    display: none;
}
#results::-webkit-scrollbar{
    width: 8px;
}
.question-card{
    /* border-radius: 10px; */
    min-height: 50px;
    min-width: 600px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 12px;
    overflow: hidden;
    position: relative;
}
.question-card:hover{
    background-color: #f5f5f5;
}
.question-tag{
    font-size: small;
    font-weight: bold;
    color: white;
    border-radius: 99px;
    padding: 3px 10px;
    text-align: center;
    display: inline-block;
}
.tag-subject{
    background-color: var(--color1);
}
.tag-content{
    background-color: var(--color2);
}
.tag-type{
    background-color: var(--bgcolor2);
    white-space: nowrap;
}
.question-card-statement{
    max-height: 20px;
    overflow: hidden;
    flex: 1;
}
.question-card-statement .ql-editor{
    overflow: hidden;
    padding: 0 0 0 5px;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
    cursor: pointer;
}
.question-card-statement .ql-editor *{
    cursor: pointer;
}

/* Detalhes da questão */

.showing-quest{
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.showing-quest .simple-line{
    width: 100%;
}
#quest-details{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 800px;
    padding: 30px;
    padding-top: 20px;
    display: grid;
    grid-template-rows: minmax(50px, max-content) 2px auto;
    gap: 20px;
    position: relative;
}
#quest-details-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#quest-details-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
    overflow-y: auto;
}
#n-lines, #other-terms{
    color: #aaa;
}
#question-statement, .question-option{
    height: fit-content !important;
}
#question-statement .ql-editor, .question-option .ql-editor{
    padding: 0;
    font-size: 18px;
    text-align: justify;
    height: fit-content;
}
#question-options{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.question-option{
    padding-right: 10px;
}
.option-container{
    padding-left: 20px;
    display: flex;
    gap: 10px;
}
.option-enumerator{
    color: #888;
}
#question-answer{
    color: var(--color2);
    text-align: justify;
}
#question-image{
    width: 60%;
    margin: 0 auto;
}
#other-terms {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: auto;
}
#other-terms > span {
    align-self: center;
    font-size: 16px;
}
#other-terms > div {
    padding: 8px;
    background-color: #eee;
    border-radius: 5px;
    font-size: 14px;
}
#other-terms > div > span {
    color: grey;
}
#left-info{
    display: flex;
    align-items: center;
    gap: 20px;
    /*flex-wrap: wrap;*/
}
#right-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
#owner{
    display: flex;
    align-items: center;
    gap: 10px;
    color: grey;
    flex-shrink: 0;
}
#owner-pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: transform 0.3s;
    object-fit: cover;
}
#owner a{
    color: grey;
    text-decoration: none;
    border-bottom: 2px solid grey;
    font-weight: bold;
}
#owner a:visited{
    color: grey;
}
#tags{
    display: flex;
    gap: 10px;
    height: fit-content;
    flex-wrap: wrap;
}
.x{
    filter: invert();
    opacity: .4;
    cursor: pointer;
    transition: opacity .2s ease;
    align-self: center;transform: rotate(45deg);
    width: 20px;
    top: 20px;
    right: 20px;
}
.x:hover{
    opacity: .6;
}

/* Ações da questão */

.question-action img{
    transition: opacity .1s ease;
    opacity: .6;
}
.question-action img:hover{
    opacity: .8;
}
.edit img{
    width: 16px;
    margin-right: 3px;
}
.remove img{
    width: 22px;
    cursor: pointer;
}
#removing-quest{
    display: flex;
    align-items: center;
}
.btn-remove{
    font-size: 13px;
}

/* Favoritar a questão */

.favorite{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: -10px;
    opacity: .15;
    transition: opacity .2s ease;
    transition: transform .2s ease;
    transform: rotate(0deg);
    cursor: pointer;
}
.favorite:hover{
    opacity: .4;
}
.favorited {
    opacity: 1 !important;
    transform: rotate(72deg) !important;
}
.favorited:hover {
    opacity: 1 !important;
    transform: rotate(144deg) !important;
}
.star{
    width: 20px;
}
#favorite-this {
    width: 25px;
    opacity: .15;
    transform: rotate(0deg);
    transition: opacity .2s ease;
    transition: transform .2s ease;
    transform: rotate(0deg);
    cursor: pointer;
}
#favorite-this:hover{
    opacity: .4;
}

/* Duplicar questão - "Editar cópia" */

#duplicate-question {
    transition: opacity .1s ease;
    opacity: .6;
    width: 23px;
    cursor: pointer;
}
#duplicate-question:hover {
    opacity: .8;
}