:root{
    --bgcolor1: rgb(15, 59, 109);
    --bgcolor2: rgb(64, 97, 136);
    --bgcolor3: rgb(0, 20, 50);
    --bgcolor4: rgb(4, 48, 93);
    --color1: rgb(163, 16, 16);
    --color2: rgb(197, 56, 56);
    --warning: rgb(255, 190, 190);
}